<strong>Olá, {{ student }}</strong>
<p>Uma dúvida sua foi respondida pela nossa equipe!</p>
<p>
  <strong>Pergunta: </strong>{{ question }} <br />
  <strong>Resposta: </strong>{{ answer }} <br />
  <small>Respondido as: {{ answer_at }}</small>
</p>
